.areas {
    background-color: $color-white;

    &__h2 {
        color: $color-primary-500;
        margin-bottom: 30px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        @include Table {
            grid-template-columns: repeat(3, 1fr);
        }

        @include SmallTable {
            grid-template-columns: repeat(1, 1fr);
        }

        &-item {
            padding: 20px;
            background-color: $color-white-100;
            border-radius: 10px;
        }
    }
}