.btn {
    padding: 16px 32px;
    background-color: transparent;
    border: none;
    display: inline-block;
    transition: $transition-primary;
    text-decoration: none;
    text-align: center;

    &__primary {
        background-color: $color-primary-500;
        color: $color-white;
        border-radius: 10px;

        &:hover {
            background-color: $color-primary-400;
        }
    }
}