.create-better-ukraine {
    padding-bottom: 140px;

    &__wrapper {

        &__text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 50px;

            h2 {
                color: $neutral-100;
                max-width: 920px;
                width: 100%;
            }

            p {
                max-width: 825px;
                width: 100%;
                align-self: flex-end;
            }
        }

        &__images {
            display: flex;
            justify-content: space-between;

            &__first {
                padding-top: 98px;
            }

            &__third {
                padding-top: 233px;
            }
        }


    }
}