.header-wrapper {
    padding-top: 50px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $neutral-100;
        }

        &-logo {
            a {
                font-size: 24px;
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                font-size: 18px;
            }

            .selected {
                color: $primary;
            }
        }
    }

    .header-content {
        padding-top: 100px;
    }
}