.header-wrapper {
    padding-top: 50px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $neutral-100;
        }

        &-logo {
            a {
                font-size: 24px;
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                font-size: 18px;
            }

            .selected {
                color: $primary;
            }
        }
    }

    .header-content {
        padding-top: 100px;
        max-width: 996px;
        width: 100%;

        h1 {
            color: white;
            font-size: 120px;
            text-transform: uppercase;
            align-items: start;
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
}