.participate {
    // background-color: $color-white;

    &__h2 {
        color: $color-primary-500;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }

    &__list {
        list-style-type: none;
    }
}
