.phases {
    &__h2 {
        margin-bottom: 30px;
        color: $color-primary-500;
    }
    
    &__list {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @include SmallTable {
            flex-direction: column;
        }
    }

    &__list-item {
        background-color: $color-white;
        // background-color: $color-secondary-700;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__img-wrapper {
            @include ImgContainer;
            height: 100px;
        }

        &__h3 {
            font-size: 28px;
        }

        &__location {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &__location-icon {
            svg {
                // fill: black;
                width: 48px;
                height: 48px;
            }
        }
    }

    &__desc {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}