.values {
    background-color: $color-white;

    &__h2 {
        margin-bottom: 30px;
        color: $color-primary-500;
    }

    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @include Table {
            grid-template-columns: repeat(2, 1fr);   
        }
        @include SmallTable {
            grid-template-columns: repeat(1, 1fr);
        }

        &-item {
            padding: 30px;
            border-radius: 10px;
            background-color: $color-white-100;
            // color: #b0b0b0;
        }
    }
}