.btn {
    display: inline-block;
    text-decoration: none;
    color: $bgColor;
    background-color: transparent;
    padding: 24px 48px;
    border: none;
    font-size: 24px;
    transition: all .3s ease-in-out;

    @include Phone {
        font-size: 18px;
    }

    &__primary {
        background-color: $primary;
        border-radius: 20px;

        &:hover {
            background-color: $primary-100;
        }
    }
}

.menu-toggle {
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;

    @include Table {
        display: flex;
    }
}