*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-white-100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: $color-dark-300;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5 {
    font-family: $font-primary;
    font-weight: 700;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}


.gutter {
    padding: 60px 0;
}