* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bgColor;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Chakra Petch', sans-serif;
}

p {
    font-size: 18px;
    line-height: 27px;
    color: $neutral-100;

    @include Phone {
        font-size: 16px;
    }
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    color: $neutral-100;
    font-weight: 500;

    @include Table {
        font-size: 32px;
    }
}

.accent-header {
    font-style: italic;
    color: $primary;
}

h3 {
    color: $primary;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
}