$color-white: #ffffff !default;
$color-white-100: #fafafa !default;

$color-dark-100: hsl(0, 0%, 7%) !default;
$color-dark-200: hsl(0, 0%, 17%) !default;
$color-dark-300: #373737 !default;

$color-primary-400: hsl(214, 100%, 40%) !default;
$color-primary-500: hsl(214, 100%, 50%) !default;

$color-secondary-300: hsl(58, 100%, 32%) !default;
$color-secondary-400: hsl(58, 100%, 42%) !default;
$color-secondary-500: hsl(58, 100%, 52%) !default;
$color-secondary-600: hsl(58, 100%, 62%) !default;
$color-secondary-700: hsl(58, 100%, 72%) !default;
$color-secondary-800: hsl(58, 100%, 82%) !default;
$color-secondary-900: hsl(58, 100%, 92%) !default;

$transition-primary: all .2s ease-in-out;

$font-primary: 'Space Grotesk', sans-serif;